body {
    background-color: #dee0df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
form {
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-top: 0px;
    margin-bottom: 30px;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
}